<h2>Por Capital</h2>
<hr>

<div class="row">
    <div class="col">
        <!-- (onValue)="searchByCapital( $event )"  -->
        <app-shared-search-box (onDebounce)="searchByCapital($event)" [initialValue]="initialValue" placeholder="Escribe ..."></app-shared-search-box>
    </div>
</div>

<div class="row">
    <div class="col">
        <hr>
        <app-shared-loading-spinner *ngIf="isLoading"></app-shared-loading-spinner>
        <app-country-table [countries]="countries"></app-country-table>
    </div>
</div>
